apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak-deployment
  namespace: arquitectura
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: localhost:5000/keycloak:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: KC_DB
              value: "postgres"
            - name: KC_DB_URL
              value: "jdbc:postgresql://postgres-db:5432/keycloak"
            - name: KC_DB_USERNAME
              value: "keycloak"
            - name: KC_DB_PASSWORD
              value: "password"
            - name: KC_HOSTNAME_STRICT
              value: "false"
            - name: KC_HTTP_ENABLED
              value: "true"
            - name: KEYCLOAK_ADMIN
              value: "admin"
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: "admin123"
          command:
            - "/opt/keycloak/bin/kc.sh"
          args:
            - "start-dev"
            - "--import-realm"
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-service
  namespace: arquitectura
spec:
  selector:
    app: keycloak
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30085 # Puerto externo para acceso desde navegador
