apiVersion: v1
kind: Service
metadata:
  name: microordenes-service
  labels:
    app: microordenes
spec:
  type: ClusterIP
  ports:
  - port: 8089
    targetPort: 8089
    protocol: TCP
  selector:
    app: microordenes