server:
  port: 8080

spring:
  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/multichannel-realm
          jwk-set-uri: http://localhost:8180/realms/multichannel-realm/protocol/openid-connect/certs

# Observabilidad
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: when-authorized
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
    apigateway.apigatewayproy: DEBUG
    org.springframework.web.cors: DEBUG
  cloud:
    gateway:
      routes:
        # ==========================
        # MICROPRODUCTOS
        # ==========================
        - id: microproductos-service
          uri: http://microproductos-service:80
        # Microservicio de Productos
        - id: producto-service
          uri: http://microproducto:80
          predicates:
            - Path=/api/producto/**

        # ==========================
        # MICROPAGOS
        # ==========================
        - id: micropagos-service
          uri: http://micropagos-service:80
          predicates:
            - Path=/api/pago/**

        # ==========================
        # MICRONOTIFICACIONES
        # ==========================
        - id: micronotificaciones-service
          uri: http://micronotificaciones-service:80
          predicates:
            - Path=/api/notificacion/**

        # ==========================
        # MICROORDENES
        # ==========================
        - id: microordenes-service
          uri: http://microordenes-service:80
          predicates:
            - Path=/api/orden/**

        # ==========================
        # PRESENTACIÓN
        # ==========================
        - id: presentacion-service
          uri: http://presentacion-service:80
          predicates:
            - Path=/app/**

      globalcors:
        cors-configurations:
          "[/**]":
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

      # Rate Limiting básico
      default-filters:
        - name: RequestRateLimiter
          args:
            redis-rate-limiter.replenishRate: 10
            redis-rate-limiter.burstCapacity: 20
            redis-rate-limiter.requestedTokens: 1